<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7.3 组件通信:自定义组件使用v-model</title>
</head>
<body>
    <p>
        自定义组件使用v-model:监听input事件  组件标签上并未使用@input="handleFun"
    </p>
    <div id="app" v-cloak>
        <p>总数：{{total}}</p>
        <h3>v-model用法：v-model="total"</h3>
        <my-component v-model="total"></my-component>
        <h3>监听自定义事件用法：@input="handleGetTotal"</h3>
        <my-component @input="handleGetTotal"></my-component>
    </div>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        Vue.component("my-component",{
            template:`
                <div>
                    <button @click="handleClick">+1</button>
                </div>
            `,
            data(){
                return {
                    counter:0
                }
            },
            methods:{
                handleClick(){
                    this.counter++;
                    this.$emit("input",this.counter);//触发input事件
                }
            }
        });
        var vm = new Vue({
            el:"#app",
            data:{
                total:0
            },
            methods:{
                handleGetTotal(total){
                    this.total = total;
                }
            }
        });
    </script>
</body>
</html>